.Photo {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0 auto 5rem;
}

@media screen and (min-width: 480px) {
    .Photo {
        max-width: 65%;
    }
}

@media screen and (min-width: 768px) {
    .Photo {
        max-width: 60%;
    }
}
@media screen and (min-width: 1024px) {
    .Photo {
        max-width: 40%;
    }
}